@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Simulação do Fluxos</h1>
    <p>Versão "fidedigna" dos métodos que iremos utilizar no front-end.</p>
    <p>Alguns não serão necessários, por isso não foram incluídos.</p>
</div>
